{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мои Заметки</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a class = 'nav_a' href="{% url 'notes:home' %}">Главная</a> |
            <a class = 'nav_a'href="{% url 'notes:notes_list' %}">Список заметок</a> |
            <a class = 'nav_a' href="{% url 'notes:create' %}">Создать заметку</a> |
            <a class = 'nav_a' href="{% url 'folders:list' %}">Папки</a>|
            <a class='nav_a' href="{% url 'login' %}">Логин</a>
        </nav>
    </header>
    <div class="cont">
        <h1>📝 Мои Заметки</h1>

        {# Меняем 'notes' на 'page_obj', так как в views.py мы передаем именно его #}
        {% if page_obj %}
        <div class="notes">
            {% for note in page_obj %}
            <div class="note-card">
                <div class="note-header">
                    <h3>
                        <a href="{% url 'notes:detail' note.id %}" class="note-link">
                            {{ note.title }}
                        </a>
                    </h3>
                </div>
                <p class="note-content">{{ note.content|truncatewords:30 }}</p>
                <div class="note-folder">
                    📁 {{ note.folder.name }}
                </div>
                <div class="note-meta">
                    <div class="note-owner">👤 {{ note.owner.username }}</div>
                    <div>📅 {{ note.created_at|date:"d.m.Y H:i" }}</div>
                    {% if note.is_public %}
                    <span class="note-badge">🌐 Публічна</span>
                    {% else %}
                    <span class="note-badge badge-private">🔒 Приватна</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="empty-message">
            Заметки не найдены. <a href="{% url 'notes:create' %}" style="color: #FFD700;">Создайте первую заметку</a>
        </div>
        {% endif %}

        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="?page=1" class="btn-pag">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn-pag">←</a>
            {% endif %}
            <span id="pageInfo">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn-pag">→</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn-pag">&raquo;</a>
            {% endif %}
        </div>

    </div>
</body>

</html>