{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать заметку</title>
</head>
<body>
    <header class="header">
        <nav class ="nav">
            <a class = 'nav_a' href="{% url 'notes:home' %}">Главная</a> |
            <a class = 'nav_a'href="{% url 'notes:notes_list' %}">Список заметок</a> |
            <a class = 'nav_a' href="{% url 'notes:create' %}">Создать заметку</a> |
            <a class = 'nav_a' href="{% url 'folders:list' %}">Папки</a>|
            <a class='nav_a' href="{% url 'login' %}">Логин</a>
        </nav>
    </header>
    <main class = 'main3'>
        <h1>Создать заметку</h1>
        <form method="post" class = 'form1'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Создать</button>
        </form>
        <div class = 'papasha'>
            <p>У вас нет папок?</p> <a href="{% url 'folders:create' %}">Создайте папку</a>
        </div> 
        <p><a href="{% url 'notes:notes_list' %}">Вернуться к списку заметок</a></p>
    </main>
</body>
</html>
