{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>

<body>
    <header class="header">
        <nav class ="nav">
            <a class = 'nav_a' href="{% url 'notes:home' %}">Главная</a> |
            <a class = 'nav_a'href="{% url 'notes:notes_list' %}">Список заметок</a> |
            <a class = 'nav_a' href="{% url 'notes:create' %}">Создать заметку</a> |
            <a class = 'nav_a' href="{% url 'folders:list' %}">Папки</a>
        </nav>
    </header>
    <main class = 'main_index'>
        <a href="https://youtu.be/RtudL2N8vsg?si=C5UJ7fcDWVey72gw">
            <img class="img" src="https://i.pinimg.com/736x/e8/23/e0/e823e08eb26ea8cdb30f4174bebcebc7.jpg">
        </a>
    </main>
    <script src="{% static 'js/script.js' %}"></script> 
</body>

</html>